html, body, canvas, h1, section, img, p {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

body {
  font-family: 'Baloo Bhaina', sans-serif;
  color: #0e592c;
}

h1, .instruct, .canvas {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  height: 35px;
}

.instruct p {
  padding-top: 10px;
}

.instruct img {
  height: 50px;
  width: auto;
  padding-left: 5px;
}

#canvas {
  border: solid 1px #0e592c;
}

/************************************************/

.modal, .modal-win {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, .modal-content-win {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    font-size: 20px;
}

/* The Close Button */
.close, .close-win {
    color: white;
    float: right;
    font-size: 14px;
    background-color: grey;
    border-radius: 10px;
    padding: 5px 10px;
    /*box-shadow: 1px 2px 10px 3px green;*/
}

.close:hover, .close:focus,
.close-win:hover, .close-win:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
}
